.keys{
    
}

.key{
    display: inline-flex;
    width: 100px;
    margin: 1rem;
    padding: 1rem .5rem;
    color: brown;
    font-size: 20px;
    border: 2px solid blue;
    text-align: center;
    transition: width 2s;
    background: cornsilk;
}

kbd{
    display: block;
    font-size: 70px;
}

.playing:hover{
    transform: scale(1.0);
    border-color: darkmagenta;
    box-shadow: 0 0 10px darkmagenta;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}